<div>
	<div class="fixed">
		<div class="d-flex justify-content-between">
			<div>
				<button type="button"
						class="btn p-2">
					<router-link class="list-group-item list-group-item-action"
								 to="/">
						<span class="material-symbols-outlined">
							chevron_left
						</span>
					</router-link>
				</button>
			</div>
			<div class="text-center my-2 flex-fill">
				<div>
					Cooking
				</div>
			</div>
			<div style="visibility: hidden;">
				<button type="button"
						class="btn p-2">
					<span class="material-symbols-outlined">
						search
					</span>
				</button>
			</div>
		</div>
		<div class="px-1 pb-2">
			<input type="text"
				   class="form-control text-center py-0 mt-1"
				   v-flatpickr="{altInput: true, altFormat: 'D d of M', dateFormat: 'Z', mode: 'range', allowInput: true}"
				   v-model="dateRange"
				   @update:modelValue="loadCookingProducts">
		</div>
	</div>

	<div class="container px-1">

		<div class="list-group">
			<div v-for="product in cookingProducts"
				 class="list-group-item">
				<div class="d-flex justify-content-between mb-2">
					<div>
						<div class="fw-bold">
							{{ product.productName }}
						</div>
						<div class="text-body-secondary">
							{{ product.note }}
						</div>
					</div>
					<div>
						<span class="badge bg-primary rounded-pill">
							{{ product.total }}
						</span>
					</div>
				</div>
			</div>
		</div>


		<br />
		<br />
	</div>

</div>