
html, body {
    width: 100%;
    height: 100%;
}

#app, #app > div {
    width: 100%;
    height: 100%;
}

#app .material-symbols-outlined {
    vertical-align: middle !important;
}

#app .modal-footer {
    border: none;
    padding: 5px;
}

#app .form-control.is-invalid,
#app .was-validated .form-control:invalid {
    background-image: none;
}
