<div class="list-group">
	<div v-for="order in orders"
		 :key="order.id"
		 class="list-group-item">

		<div class="d-flex justify-content-between align-items-center">
			<span class="h5"
				  :class="{'text-success': order.delivered}">
				#{{ order.id }} {{ order.customerName }}
			</span>
			<span class="h5"
				  :class="{'text-danger': !order.paid, 'text-success': order.paid}">
				{{ $formatCurrency(order.totalPrice) }}
			</span>
		</div>

		<div>
			{{ order.deliveryAddress }} {{ $formatPhoneNumber(order.customerPhone) }}
		</div>

		<div class="d-flex justify-content-end align-items-center">
			<div class="d-flex gap-1">
				<button type="button"
						class="btn border-0"
						@click="$emit('select', order)">
					<span class="material-symbols-outlined">
						edit
					</span>
				</button>
				<a target="__blank"
				   class="btn border-0"
				   :href="getGoogleMapLink(order)"
				   :class="{disabled: order.deliveryAddress == null}">
					<span class="material-symbols-outlined">
						pin_drop
					</span>
				</a>
				<button type="button"
						class="btn border-0"
						@click="$emit('chat', order)"
						:class="{disabled: order.customerPhone == null}">
					<span class="material-symbols-outlined">
						chat
					</span>
				</button>
				<a target="__blank"
				   class="btn border-0"
				   :href="getTelephoneLink(order)"
				   :class="{disabled: order.customerPhone == null}">
					<span class="material-symbols-outlined">
						call
					</span>
				</a>
				<button type="button"
						class="btn border-0"
						@click="$emit('delivered', order)"
						:disabled="order.delivered">
					<span class="material-symbols-outlined">
						deployed_code
					</span>
				</button>
			</div>
		</div>
	</div>
</div>